$background: black;
$on-background: white;
$primary: lawngreen;
$on-primary: black;

/** DARK THEME */
$background: white;
$on-background: black;
$primary: lawngreen;
$on-primary: black;

html {
//   background-color: $background;
//   color: $on-background; /** black on white with dark theme */
} 